.background {
    background-image: url('../src/Assets/Background.png');
    width: 50vw;
    height: 100vh;
}

.Logo {
    height: 30vh;

}

.box {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}